{%extends 'base.html'%}

{% block title %} Readmore {% endblock title %}

{%block content%}

<div class="container">
<div class="card">
    <img class="card-img-top" src="{{region.map.url}}" width=300,  height=400, alt="{{region.name}} Regional Map">
    <div class="card-body">
      <h5 class="card-title">Overview of {{region.region_name}} Tourism</h5>
    <div class="row">
        <div class="col-12">
                  
            <p class="card-text">

            The Tigray Region is a region in Ethiopia. The capital city is Mekelle. Tigray is the homeland of the Tigrayan, Irob and Kunama peoples. The main language is Tigrinya.[3]
            Tigray has 1 international airport and 4 commercial airports. The international airport is Alula Aba Nega Airport. The 4 commercial airports are Shire Airport, Humera Airport, Dansha Airport, and Axum Atse Yohannes 4th Airport.
        
            </p>
                <a href="{% url "home" %}" class="btn btn-primary">Go back Home</a>
            </div>
        </div>
    </div>
  </div>

  {%endblock content%}